.section-content-container {
    position: relative;
    width: 70%;
    height: 100%;
    background-color: black;
}

.section-content {
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgb(23, 23, 23);
    width: 90%;
    border-radius: 20px;
}

.resize-line {
    position: absolute;
    top: 2%;
    left: 0%;
    background-color: darkslategray;
    width: 2px;
    height: 96%;
}
