.add-button-container-section {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 43);
    height: 60px;
    width: 100%;
    z-index: 1;
}

.add-button-section {
    position: relative;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    font-size: 11px;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    border: 1px solid black;
}