.add-button-container-section {
    padding-bottom: 30px;
}

.add-button-section {
    position: relative;
    background-color: darkblue;
    color: white;
    font-size: 11px;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 1px solid black;
}