.sections-dashboard-container {
    position: relative;
    background-color: black;
    width: 30%;
    height: 100%;
}

.sections-dashboard {
    position: relative;
    width: 100%;
    height: 100%;
}

.sections-dashboard__sections-container__gap {
    position: relative;
    top: 0px;
    height: 60px;
}

.sections-dashboard__sections-container {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    height: 100%;
    padding-top: 0px;
}

.sections-dashboard__sections-container::-webkit-scrollbar {
    display: none;
}