.exit-test-button {
    position: absolute;
    background-color: red;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    top: 10px;
    left: 15px;
    font-size: 20px;
    border-radius: 10px;
}