.answer-input {
    position: relative;
    resize: none;
    outline: none;
    color: white;
    border: 1px solid darkslategray;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgb(23, 23, 23);
    width: 90%;
    height: 25px;
    font-size: 17px;
    padding-top: 5px;
}