.correct-screen__top-border {
    position: absolute;
    background-color: darkgreen;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 30%;
    height: 2px;
}

.correct-screen__label-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -8px;
    left: 50%;
    width: 90px;
    height: 20px;
    transform: translate(-50%, 0%);
    background-color: rgb(23, 23, 23);
}

.correct-screen__label {
    position: relative;
    color: darkgreen;
    font-weight: bold;
    font-size: 18px;
    top: -2px;
}

.correct-screen__bottom-border {
    position: absolute;
    background-color: darkgreen;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
    height: 2px;
}