.neutral-screen__top-border {
    position: absolute;
    background-color: darkslategray;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 30%;
    height: 2px;
}

.neutral-screen__bottom-border {
    position: absolute;
    background-color: darkslategray;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
    height: 2px;
}