.choice-container {
    padding: 6px;

}

.choice {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    word-break: break-word;
    border: 1px solid darkslategray;
    padding: 20px;
    width: 85%;
    left: 50%;
    border-radius: 10px;
    font-size: 18px;
    transform: translate(-50%, 0%);
    background-color: rgb(18, 18, 18);
}