.title-input-container {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: rgb(23, 23, 23);
}

.title-input {
    position: relative;
    background-color: transparent;
    resize: none;
    border: 1px solid darkslategray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 45px;
}